body {
  background-image: url('https://cdn.glitch.com/eb7b8edf-a4d4-45c6-b250-83f14fd88a02%2F12143-resonance_cascade.jpg?v=1596766500944');
  background-size: cover;
  background-repeat: none;
}

h1 {
  font-family:'Russo One', sans-serif;
  font-size: 64px;
  margin-left: 25px;
  color: #e62100;
}

h2 {
  font-family:'Russo One', sans-serif;
  font-size: 32px;
  margin-left: 25px;
  color: #ffffff
}

button {
  margin-left: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  font-family: 'Russo One', sans-serif;
  font-size: 28px;
  font-style: italic;
  color: #f;
  text-decoration: red underline overline wavy;
  cursor: pointer;
  background-color: #ddd;
  border: 3px solid #555;
  height: 60px;
  width: 200px;
}

button:hover{
  opacity: .75;
}

a{
  color: #e62100;
}

#excuses{
  position: relative;
  top: 30px;
  left: 25px;
  font-family: 'impact', monospace;
  font-size: 96px;
  color: #ffffff;
  background-color: red;
}

#license{
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-family: monospace;
  font-size: 12px;
  color: #ffffff
}